.preview {
  // background: #03a9f40d;
  box-shadow: $shadow;
  border-radius: $border-radius;
  flex-direction: column;
  overflow: hidden;
  background-color: $light;
  // background-size: 50%;
  // background-repeat: no-repeat;
  // background-position: bottom;
  // cursor: pointer;
  .info {
    padding: 10px;
    flex-grow: 1;
    text-align: center;
  }

  .actions {
    flex-basis: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
    background-color: $second;
    transform: translateY(100%);
    transition: transform 0.2s;
    color: $lightest;
  }

  &:hover .actions {
    transform: translateY(0);
  }
}
